@CHARSET "UTF-8";

/* * {
    font-family: Verdana;
}
p, body {
	text-align: center;
}
div {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 20px;
}
table {
	border: 1px solid black;
	border-radius: 100px;
    height: 100px;
    width: 750px;
    text-align: center;
   	border-collapse: collapse;  
}
td {
	border: 1px;
	border-style: solid;
	border-color: #c0c0c0;
	padding: 0px !important;
	
}
.ylinrivi {
	padding: 7px 0px 7px 0px !important;
	background: #f0f0f0;
}
.id {
	padding: 0px 15px 0px 15px !important;
}
.nappula {
	margin: 5px 5px 5px 5px !important;
	
}
.pizzanluomisilmoitus {
	color: #008000 !important;
}
.pizzanpoistoilmoitus {
	color: red !important;
}
form {
	display:inline-block !important;
}

label {
	margin: 0 auto !important;
}

*/
/* uusia tyylejä */

.sisaltopizza, .sisaltojuoma {
	margin: 0 auto; 
	width: 100%;
	font-family: 'Muli', sans-serif;
	border: 1px solid #0F0F0F;
	
}

.sisaltopizza td, th {
	margin: 0px;
	padding: 10px !important;
	text-align: center;
	border-collapse: collapse !important;
}

.sisaltojuoma td, th {
	margin: 0px;
	padding: 10px 5px 10px 5px !important;
	text-align: center;
	border-collapse: collapse !important;
}

.tuoterivi:nth-child(even) {
	background: #090909 !important;
}

.tuoterivi:nth-child(odd) {
	background: #0F0F0F !important;
}

#hallinta {
	padding-top: 130px !important;
}

input {
	color:black !important;
}
.tiedotteenLisays {
	color:lime;
}
.tiedotteenPoisto {
	color: pink;
}

.lisatiedot {
  display: none;
}

.ylinrivi {
	padding: 10px;
}

.tilaustable {
	margin-left:auto !important;
}