@charset "utf-8";

.yt-nimi {
	/*color:#42dca3; */
	margin: 0 0 1.5px;
}

.palvelemme {
	font-weight:bold;
	margin: 0 0 10px;
}

.button-success {
   	background: rgb(28, 184, 65) !important; /* this is a green */
   	color:white !important;
   	font-weight: bold !important;
   	margin:0 auto !important;
}

.etusivu-iso-logo {
	margin-top: 80px;
}

#esittely {
	padding-top: 50px !important;
}

#pitsalista {
	padding-top:50px !important;
}

#map {
	margin-top:100px !important;
}

/* Tähtiarvioinnin tekstin alas heitto */
#ratingbox {
	width: 200px;
	text-align: center;
}

.tuotetiedot {
	font-size: small !important;
}

.hinta {
	font-size: medium;
}

.viiva-pois {
	border-bottom: 0px !important;
	text-align:center !important;
	float: none !important;
    display: inline-block !important;
}

.butska {
	border-radius: 0 0 0 0 !important;
	margin-left:15px !important;
	border: 1px solid #42dca3 !important;
}

.butska:hover {
	background-color: #42dca3 !important;
	color: black !important;
}

.ravintoarvotDiv {
  display: none;
}

.ravintoarvotBut {
	background-color: transparent !important;
	color: #333 !important;
	font-size: small !important;
	border: none; 
}


.slaissi {
	max-width:70%;
	
	
}

.thumbnail {
	min-height: 630px;
}

/* Tilaussivun taulukon tyyli */

.sisalto {
	margin: 0 auto; 
	width: 100%;
	font-family: 'Muli', sans-serif;
}

.sisalto td, th {
	margin: 0px;
	padding: 15px !important;
	text-align: center;
	border-collapse: collapse !important;
}
table .minikuvat {
	padding: 15px 15px 15px 50px !important;
}

/*joka toinen rivi taulukossa erivärinen */
.tuoterivi:nth-child(even) {background: #090909 !important;
}
.tuoterivi:nth-child(odd) {background: #0F0F0F !important;
}

.tietorivi {
	font-size: large !important;
}

 /* pop-upin header */
.pop-up {
	color:black !important; 
	font-size:20px !important; 
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important; 
	text-transform: uppercase !important;
}

.emptycart {
	color:black !important; 
	text-align: center;
	font-size:16px !important; 
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.yhteissumma {
	margin: 0;
}
.tehostevari {
	color: #42DCA3;
}
.kotiinkuljetushinta {
	color: pink; 
	font-weight: 700;
}
.mausteet {
	text-align: left !important;
	padding: 15px 15px 15px 50px !important;
}
